In [ ]:
s = "Hi there Class!"
x = s.split()
print(x)

['Hi', 'there', 'Class!']

In [ ]:
planet = "Earth"
diameter = 12742
txt = "The diameter of {planet} is {diameter} kilometers"
print(txt.format(planet = planet,diameter = diameter))

The diameter of Earth is 12742 kilometers

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

In [ ]:
def getdom(email):
    return email.split('@')[-1]
getdom('user@domain.com')

'domain.com'

In [ ]:
def dog(st):
    return 'dog' in st.lower().split()
print(dog('I really like dogs'))
print(dog('I have a dog'))

False
True

In [ ]:
def countdog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count
countdog('I really like that dog ! I also own a dog ! Dogs are awesome')

2

In [ ]:
seq = ['soup','dog','salad','cat','great']
list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Heavy Challan'
    elif speeding > 60:
        return 'Small Challan'
    else:
        return 'No Challan'

In [ ]:
caught_speeding(81,True)

'Small Challan'

In [ ]:
caught_speeding(81,False)

In [ ]:
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
res = [i + j for i, j in zip(list1, list2)]
print(res)

['My', 'Mme', 'Ms', 'Mlly', 'nay', 'name', 'nas', 'nally', 'iy', 'ime', 'is', 'illy', 'Shey', 'Sheme', 'Shes', 'Shelly']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
res = [i + j for i in list1 for j in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
res =[]
for i in list1:
  if(i != 20):
    res.append(i)
print(res)

[5, 15, 25, 50]

In [ ]:
d1 = {'a': 100, 'b': 200, 'c': 300}
if 200 in d1.values():
    print('200 is present in the dictionary')

200 is present in the dictionary

In [ ]:
n = 3
sum2 = 0
for i in range(n):
  for j in range(i+1):
    sum1 = sum1 + 2*(pow(10,j))
  sum2 = sum2 +sum1
  sum1=0
print(sum2)

246